.infoContainer {
    background: url("../../assets/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .itemContainer {
        padding-top: 20px;
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .topContainer {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;

            .viewContainer {
                margin-right: 10px;
                width: 60vw;
                height: 70vh;
                background-color: rgba(black, 0.5);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .canvaContainer {
                    border: 2px solid black;
                }
    
                .leftArrow {
                    width: 0px;
                    height: 0px;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-right: 40px solid rgba(white, 0.6);
                    margin-right: 35px;
                    cursor: pointer;
    
                    &:hover {
                        border-right: 40px solid white;
                    }
                }
    
                .rightArrow {
                    width: 0px;
                    height: 0px;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 40px solid rgba(white, 0.6);
                    margin-left: 35px;
                    cursor: pointer;
    
                    &:hover {
                        border-left: 40px solid white;
                    }
                }
            }

            .rightWindow {
                background-color: rgba(black, 0.5);
                color: white;
                width: 30vw;
                height: 70vh;
                border-radius: 50px;
                margin-left: 10px;

                .container {
                    width: auto;
                    height: auto;
                    margin: 50px;
                    font-size: 2.5vh;

                    h2 {
                        font-size: 4vh;
                    }
                }
            }
        }

        .bottomContainer {
            background-color: rgba(black, 0.5);
            margin-top: 20px;
            width: 91vw;
            border-radius: 50px;
            min-height: 30vh;

            .textContainer {
                margin: 50px;
                color: white;

                h2 {
                    font-size: 3rem;
                }
        
                p {
                  font-size: 1.5rem;
                }
            }
        }
    }
}

.greenPoint {
    color: green;
    font-size: 2em;
    margin-left: -0.7em;
    //margin-top: 1em;
    // vertical-align: middle;
}

.buyButton {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.buyButton:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.buyButton:focus {
    outline: none;
}
  
.buyButton.bn27 {
    background-image: linear-gradient(
        to right,
        #ed6ea0,
        #ec8c69,
        #f7186a,
        #fbb03b
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.alignText{
    vertical-align:0.3em;
}