.homeContainer {
    width: 100vw;
    height: 550vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    background: url("../../assets/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .itemContainer {
      height: 400px;
      background: rgba(black, 0.4);
      width: 85vw;
      margin: 50px;
      padding: 0px 50px;
      border-radius: 50px;
      border: 2px solid black;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        //height: 500px;
        background: rgba(black, 0.6);
        border: 2px solid white;
      }

      .instrumentImg {
        width: fit-content;
        //background-color: red;
        overflow: hidden;
      }

      .instrumentText {
        color: white;
        margin-left: 100px;
        width: 65%;
        display: flex;
        flex-direction: column;

        .title {
          font-size: 3rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  
  /*.title {
    font-size: 3rem;
    text-align: left;
    padding-left: 200px;
    width: 100%;
    margin: 0 auto;
    color: black;
    span {
      display: block;
    }
  }*/

  .scrollArea {
    position: absolute;
    top: 0;
    padding-top: 40vh;
    padding-left: 32vw;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }