header {
    //position: absolute;
    z-index: 99;
    width: calc(100% - 80px);
    padding: 40px;
    background: rgba(black, 0.8);
    border-bottom: 2px solid black;

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-weight: 900;
            //letter-spacing: 2px;
            font-size: 2rem;
            color: #fff;
        }

        nav {

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                
                li {
                    list-style: none;
                    margin: 0 60px;
                    font-size: 1.2rem;
                    cursor: pointer;
                    
                    &.btn {
                    
                        a {
                            color: #fff;
                            font-weight: 600;
                            background: #23232a;
                            padding: 16px 24px;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    }

                    a {
                        text-transform: capitalize;
                        text-decoration: none;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}